body {
  background-color: #efefef;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 64px;
}

.wrapper {
  width: 100%;
}

#header {
  color: #dda01c;
  padding: 10px 20px 10px 20px;
  background-color: #dda01c;
  -moz-border-radius: 5px;
}

p {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: inline-block;
  font-style: bold;
  font-size: 20px;
  margin-right: 20px;
  width: 100px;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 5px;
  font-size: 15px;
}

.right {
  text-align: right;
}

#submitButton {
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: none;
}

#apparel-listing {
  position: relative;
  margin: 20px 50px;
  background-color: #222;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 20px;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 25px;
}

.listings {
  width:100%;
}


ul {
  display: inline-block;
  list-style: none;
}

h6 {
  font-size:11px;
}

h3 {
  font-size: 22px;
}

/*li {
  position: relative;
  margin: 20px 50px;
  background-color: #FF6600;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 20px;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 25px;
}*/

.sold {
  text-decoration: line-through;
  background-color: #1142AA;
}

.editing {
  text-decoration: none;
  background-color: #FFA900;
}



/*BEGIN CUSTOM CSS*/
.logoWrap {
    width: 173px;
}

.logo {
    float: left;
    margin-left: 55%;
    margin-top: 13px;
    width: 100%;
    height: 100%;
}

.navbar {
  background-color: #DEA02B;
}

.navbar-nav {
  padding: 50px;
}

.nav-item {
  padding: 15px;
  font-size: 16px;
}

.nav-link {
  color: black;

}

/*#header {
  display: flex;
}

.logoWrap {
    width: 173px;
}

.logo {
    width: 100%;
    height: 100%;
}

nav {
  display: flex;
}

nav li {
    background: none;
    list-style: none;
    cursor: pointer;
}*/


#footer {
    display: flex;
    justify-content: space-around;
    margin-top: 26px;
    background: black;
    padding: 30px 0;
}

.newAvesLink {
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.newAvesLink a {
    color: white;
    text-decoration: none;
}

.newAvesLink a:hover {
    color: grey;

}
